[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
dlib = "*"
imutils = "*"
fawkes = "*"
kivy = "*"
matplotlib = "*"
kivy-garden = "*"
pillow = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.10"
